<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SignalAir Rescue</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SignalAir Rescue 需要使用本地網絡來連接附近的設備進行緊急通訊，確保在沒有網際網路連線時也能與救援人員或其他用戶溝通。您的隱私受到保護，所有通訊均採用端到端加密。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_signalair._tcp</string>
		<string>_signalair._udp</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>SignalAir Rescue 需要使用藍牙來發現並連接附近的設備進行緊急通訊。藍牙僅用於建立安全的點對點連線，不會收集或傳送任何個人識別資訊。所有通訊均經過加密保護。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>SignalAir Rescue 需要使用藍牙來與附近的設備建立緊急通訊連接。此功能僅在緊急情況下使用，確保您能夠在沒有行動網路時與救援人員取得聯繫。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SignalAir Rescue 需要使用位置信息來提供準確的緊急救援座標。位置資訊僅在您主動分享時傳送，且僅用於緊急救援目的。我們不會儲存或追蹤您的位置歷史。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SignalAir Rescue 需要使用位置信息來在緊急情況下提供準確的救援座標。此權限確保在緊急狀況下能即時分享您的位置給救援人員。位置資訊經過加密保護，不會用於追蹤或商業用途。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>SignalAir Rescue 使用設備指紋識別技術來驗證用戶身份，防止機器人攻擊和惡意使用。我們收集的設備資訊（如設備型號、系統版本）僅用於安全驗證，不會與第三方分享或用於廣告目的。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>background-processing</string>
	</array>
</dict>
</plist>
